<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <a href="/"> Home </a>
    <% if logged_in? %>
      <form action=<%= session_url%> method="POST">
        <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Logout</button>
      </form>
    <% end %>

  <% if flash[:errors] %>
    <%= flash[:errors].join(', ')%>
  <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
